document.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "462b5a37-2721-40c7-a955-aafec7a1fdc7",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                320,
                -176
            ],
            "id": "82d20b80-cafa-42bd-b7b9-25027f56b884",
            "name": "Webhook",
            "webhookId": "462b5a37-2721-40c7-a955-aafec7a1fdc7"
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.html }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                1120,
                -176
            ],
            "id": "2856ce4c-e6e6-415a-a82f-8f69eee26bf4",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "jsCode": "// =======================\n// n8n Code node (Run for Each Item)\n// =======================\n\nconst idx = $itemIndex ?? 0;\n\n// безопасно достаём items из других нод (если ноды нет/нет pairing — будет [])\nconst getItemsSafe = (nodeName) => {\n  try {\n    const arr = $items(nodeName);\n    return Array.isArray(arr) ? arr : [];\n  } catch (e) {\n    return [];\n  }\n};\n\nconst webhookItems = getItemsSafe(\"Webhook\");\n\n// body: сначала текущий idx, потом 0, потом вход $json\nconst body =\n  webhookItems[idx]?.json?.body ??\n  webhookItems[0]?.json?.body ??\n  $json.body ??\n  {};\n\n// ---------- helpers ----------\nconst isNil = (v) => v === null || v === undefined;\nconst clean = (v) => (typeof v === \"string\" ? v.trim() : v);\n\nconst val = (v) => {\n  v = clean(v);\n  if (isNil(v) || v === \"\" || v === \"null\" || v === \"undefined\") return \"---\";\n  return String(v);\n};\n\nconst safeArr = (a) => (Array.isArray(a) ? a : []);\nconst esc = (s) =>\n  String(s)\n    .replaceAll(\"&\", \"&amp;\")\n    .replaceAll(\"<\", \"&lt;\")\n    .replaceAll(\">\", \"&gt;\")\n    .replaceAll('\"', \"&quot;\")\n    .replaceAll(\"'\", \"&#39;\");\n\nconst numFormat = (x) => {\n  if (isNil(x)) return \"---\";\n  if (typeof x === \"string\") {\n    const s = x.replace(/\\s+/g, \"\").replace(/,/g, \".\");\n    if (s === \"\" || s === \"-\" || s === \"null\" || s === \"undefined\") return \"---\";\n    const n = Number(s);\n    if (!Number.isFinite(n)) return val(x);\n    x = n;\n  }\n  if (typeof x !== \"number\" || !Number.isFinite(x)) return val(x);\n\n  const fixed = (Math.round(x * 100) / 100).toString();\n  const [intPart, decPart] = fixed.split(\".\");\n  const grouped = intPart.replace(/\\B(?=(\\d{3})+(?!\\d))/g, \" \");\n  return decPart ? `${grouped}.${decPart.padEnd(2, \"0\")}` : `${grouped}.00`;\n};\n\nconst joinAddress = (region, district, street) => {\n  const r = val(region);\n  const d = val(district);\n  const s = val(street);\n  return [r, d, s].join(\", \");\n};\n\nconst bankAccFormat = (acc) => {\n  const raw = val(acc);\n  if (raw === \"---\") return \"---\";\n  const a = raw.replace(/\\s+/g, \"\");\n  const m = a.match(/^(.{5})(.{3})(.{1})(.{8})(.*)$/);\n  return m ? `${m[1]} ${m[2]} ${m[3]} ${m[4]} ${m[5]}` : raw;\n};\n\nconst fullName = (p) => {\n  if (!p) return \"---\";\n  const parts = [p.lastName, p.firstName, p.middleName]\n    .filter(Boolean)\n    .map(val)\n    .filter((v) => v !== \"---\");\n  return parts.length ? parts.join(\" \") : \"---\";\n};\n\nconst findRow = (rows, rowNo, field) => {\n  const r = safeArr(rows).find((x) => String(x?.row_no ?? \"\") === String(rowNo));\n  if (!r) return \"---\";\n  const v = r[field];\n  if (isNil(v)) return \"---\";\n  return numFormat(v);\n};\n\n// ---------- DICT ----------\nconst DICT = {\n  uz: {\n    expertConclusionTitle: \"Yakuniy kredit bo‘yicha ekspert xulosasi\",\n    hProject: \"Loyiha bo‘yicha ma’lumot\",\n    hCompany: \"Kompaniya haqida\",\n    orgFull: \"Tashkilotning to‘liq nomi\",\n    inn: \"INN\",\n    oked: \"Sohasi (OKED)\",\n    cat: \"Kompaniya kategoriyasi\",\n    emp: \"O'rta ishchilar soni\",\n    addr: \"Yuridik manzil\",\n    fund: \"Ustav fondi\",\n    foundersTitle: \"Ta'sischilar bo‘yicha ma’lumot\",\n    fio: \"F.I.O. / Nomi\",\n    who: \"Kim hisoblanadi\",\n    share: \"Ulushi (%)\",\n    other: \"Boshqa subyektlardagi ishtiroki\",\n    director: \"Direktor\",\n    ind: \"Jismoniy shaxs\",\n    leg: \"Yuridik shaxs\",\n    bankReq: \"Bank rekvizitlari:\",\n    mainAcc: \"Asosiy hisob:\",\n    bankName: \"Bank nomi\",\n    acc: \"Hisob raqami\",\n    mfo: \"MFO\",\n    appShort: \"Loyiha haqida qisqacha ma'lumot\",\n    appDesc: \"Loyiha tavsifi\",\n    started: \"-yilda faoliyatini boshlagan.\",\n    mainAct: \"Kompaniyaning asosiy faoliyati\",\n    applied2: \"bankka kompaniyaning\",\n    applied3:\n      \"maqsadida asosiy vositalar va aylanma mablag'larni sotib olish uchun umumiy kredit shartnomasini tuzishni ko'rib chiqish taklifi bilan murojaat qildi, maksimal kredit limiti\",\n    term: \"oy muddatga mo'ljallangan.\",\n    rates:\n      \"Kreditlar bo'yicha foiz stavkalari AQSh dollarida yillik 15%, yevroda yillik 15% va milliy valyutada yillik\",\n    sourcePay:\n      \"Majburiyatlarni to'lash manbai kompaniyaning davom etayotgan faoliyatidan kelib chiqadi.\",\n    bankFill: \"Bank tomonidan to'ldiriladi\",\n    mainObj:\n      \"Korxona nomidagi asosiy obyekt (ofis, bino, ombor, turar joy) quyidagi manzilda joylashgan:\",\n    totalArea: \"umumiy maydoni\",\n    buildArea: \"bino va inshootlar maydoni\",\n    cad: \"kadastr raqami\",\n    belongs: \"Ushbu yer\",\n    belongs2: \"ga tegishli.\",\n    infra: \"Hudud zarur kommunal xizmatlar va kommunikatsiyalar bilan jihozlangan.\",\n    built: \"Ushbu hududda kompaniya\",\n    built2: \"kv.m. maydonga ega yangi ma'muriy bino qurdi.\",\n    collateralTitle: \"Garov haqida ma’lumot\",\n    reTitle: \"Garovga qo'yilgan bino ma'lumotlari:\",\n    carTitle: \"Garovga qo'yilgan mashina ma'lumotlari:\",\n    balanceTitle: \"Balans bo'yicha hisobot:\",\n    metric: \"Ko'rsatkich nomi\",\n    row: \"Qator\",\n    finTitle: \"Moliyaviy ko'rsatkichlar ma'lumotlari\",\n    shortAbout: \"Korxona haqida qisqacha ma’lumot:\",\n    objs: \"Korxona nomidagi obyektlar:\",\n    cars: \"Korxona nomidagi mashinalar:\",\n  },\n  cyrl: {\n    expertConclusionTitle: \"Якуний кредит бўйича эксперт хулосаси\",\n    hProject: \"Лойиҳа бўйича маълумот\",\n    hCompany: \"Компания ҳақида\",\n    orgFull: \"Ташкилотнинг тўлиқ номи\",\n    inn: \"ИНН\",\n    oked: \"Соҳаси (ОКЭД)\",\n    cat: \"Компания категорияси\",\n    emp: \"Ўрта ишчилар сони\",\n    addr: \"Юридик манзил\",\n    fund: \"Устав фонди\",\n    foundersTitle: \"Таъсисчилар бўйича маълумот\",\n    fio: \"Ф.И.О. / Номи\",\n    who: \"Ким ҳисобланади\",\n    share: \"Улуши (%)\",\n    other: \"Бошқа субъектлардаги иштироки\",\n    director: \"Директор\",\n    ind: \"Жисмоний шахс\",\n    leg: \"Юридик шахс\",\n    bankReq: \"Банк реквизитлари:\",\n    mainAcc: \"Асосий ҳисоб:\",\n    bankName: \"Банк номи\",\n    acc: \"Ҳисоб рақами\",\n    mfo: \"МФО\",\n    appShort: \"Лойиҳа ҳақида қисқача маълумот\",\n    appDesc: \"Лойиҳа тавсифи\",\n    started: \"-йилда фаолиятини бошлаган.\",\n    mainAct: \"Компаниянинг асосий фаолияти\",\n    applied2: \"банкка компаниянинг\",\n    applied3:\n      \"мақсадида асосий воситалар ва айланма маблағларни сотиб олиш учун умумий кредит шартномасини тузишни кўриб чиқиш таклифи билан мурожаат қилди, максимал кредит лимити\",\n    term: \"ой муддатга мўлжалланган.\",\n    rates:\n      \"Кредитлар бўйича фоиз ставкалари АҚШ долларида йиллик 15%, еврода йиллик 15% ва миллий валютада йиллик\",\n    sourcePay:\n      \"Мажбуриятларни тўлаш манбаи компаниянинг давом этаётган фаолиятидан келиб чиқади.\",\n    bankFill: \"Банк томонидан тўлдирилади\",\n    mainObj:\n      \"Корхона номидаги асосий объект (офис, бино, омбор, турар жой) қуйидаги манзилда жойлашган:\",\n    totalArea: \"умумий майдони\",\n    buildArea: \"бино ва иншоотлар майдони\",\n    cad: \"кадастр рақами\",\n    belongs: \"Ушбу ер\",\n    belongs2: \"га тегишли.\",\n    infra: \"Ҳудуд зарур коммунал хизматлар ва коммуникациялар билан жиҳозланган.\",\n    built: \"Ушбу ҳудудда компания\",\n    built2: \"кв.м. майдонга эга янги маъмурий бино қурди.\",\n    collateralTitle: \"Гаров ҳақида маълумот\",\n    reTitle: \"Гаровга қўйилган бино маълумотлари:\",\n    carTitle: \"Гаровга қўйилган машина маълумотлари:\",\n    balanceTitle: \"Баланс бўйича ҳисобот:\",\n    metric: \"Кўрсаткич номи\",\n    row: \"Қатор\",\n    finTitle: \"Молиявий кўрсаткичлар маълумотлари\",\n    shortAbout: \"Корхона ҳақида қисқача маълумот:\",\n    objs: \"Корхона номидаги объектлар:\",\n    cars: \"Корхона номидаги машиналар:\",\n  },\n  en: {\n    expertConclusionTitle: \"Final credit expert conclusion\",\n    hProject: \"Project information\",\n    hCompany: \"Company details\",\n    orgFull: \"Full legal name\",\n    inn: \"TIN\",\n    oked: \"Business activity (OKED)\",\n    cat: \"Company category\",\n    emp: \"Average number of employees\",\n    addr: \"Legal address\",\n    fund: \"Charter capital\",\n    foundersTitle: \"Founders information\",\n    fio: \"Full name / Company name\",\n    who: \"Type\",\n    share: \"Share (%)\",\n    other: \"Participation in other entities\",\n    director: \"Director\",\n    ind: \"Individual\",\n    leg: \"Legal entity\",\n    bankReq: \"Bank details:\",\n    mainAcc: \"Main account:\",\n    bankName: \"Bank name\",\n    acc: \"Account number\",\n    mfo: \"MFO\",\n    appShort: \"Brief project information\",\n    appDesc: \"Project description\",\n    started: \"started operating in\",\n    mainAct: \"The company’s main activity is\",\n    applied2:\n      \"submitted a request to the bank to consider signing a general loan agreement for the purpose of:\",\n    applied3: \"Maximum credit limit\",\n    term: \"term\",\n    rates: \"Interest rates: 15% p.a. in USD, 15% p.a. in EUR, and\",\n    sourcePay:\n      \"The source of repayment is generated from the company’s ongoing business activities.\",\n    bankFill: \"To be completed by the bank\",\n    mainObj:\n      \"The main asset of the enterprise (office, building, warehouse, residential property) is located at:\",\n    totalArea: \"total area\",\n    buildArea: \"building/structures area\",\n    cad: \"cadastral number\",\n    belongs: \"This land belongs to\",\n    belongs2: \".\",\n    infra: \"The area is equipped with the necessary utilities and communications.\",\n    built:\n      \"On this territory, the company constructed a new administrative building with an area of\",\n    built2: \"sq.m.\",\n    collateralTitle: \"Collateral information\",\n    reTitle: \"Collateralized real estate details:\",\n    carTitle: \"Collateralized vehicle details:\",\n    balanceTitle: \"Balance sheet report:\",\n    metric: \"Indicator name\",\n    row: \"Row\",\n    finTitle: \"Financial indicators\",\n    shortAbout: \"Company summary:\",\n    objs: \"Assets registered to the company:\",\n    cars: \"Vehicles registered to the company:\",\n  },\n  ru: {\n    expertConclusionTitle: \"Итоговое экспертное заключение по кредиту\",\n    hProject: \"Информация о проекте\",\n    hCompany: \"О компании\",\n    orgFull: \"Полное наименование организации\",\n    inn: \"ИНН\",\n    oked: \"Сфера деятельности (ОКЭД)\",\n    cat: \"Категория компании\",\n    emp: \"Средняя численность сотрудников\",\n    addr: \"Юридический адрес\",\n    fund: \"Уставный фонд\",\n    foundersTitle: \"Информация об учредителях\",\n    fio: \"Ф.И.О. / Наименование\",\n    who: \"Кем является\",\n    share: \"Доля (%)\",\n    other: \"Участие в других субъектах\",\n    director: \"Директор\",\n    ind: \"Физическое лицо\",\n    leg: \"Юридическое лицо\",\n\n    bankReq: \"Банковские реквизиты:\",\n    mainAcc: \"Основной счёт:\",\n    bankName: \"Наименование банка\",\n    acc: \"Расчётный счёт\",\n    mfo: \"МФО\",\n\n    appShort: \"Краткая информация о проекте\",\n    appDesc: \"Описание проекта\",\n    started: \"начал деятельность в\",\n    mainAct: \"Основной вид деятельности компании\",\n    applied2: \"обратилось в банк с запросом по цели:\",\n    applied3: \"Максимальный кредитный лимит\",\n    term: \"Срок\",\n    rates: \"Процентные ставки по кредиту:\",\n    sourcePay: \"Источник погашения обязательств — доходы от текущей деятельности компании.\",\n    bankFill: \"Заполняется банком\",\n\n    mainObj: \"Основной объект предприятия (офис, здание, склад, жилое помещение) расположен по адресу:\",\n    totalArea: \"общая площадь\",\n    buildArea: \"площадь здания и сооружений\",\n    cad: \"кадастровый номер\",\n    belongs: \"Данный земельный участок принадлежит\",\n    belongs2: \".\",\n    infra: \"Территория обеспечена необходимыми коммунальными услугами и коммуникациями.\",\n    built: \"На данной территории компания построила новое административное здание площадью\",\n    built2: \"кв.м.\",\n\n    collateralTitle: \"Информация о залоге\",\n    reTitle: \"Данные по заложенной недвижимости:\",\n    carTitle: \"Данные по заложенному транспортному средству:\",\n\n    balanceTitle: \"Отчёт по балансу:\",\n    metric: \"Наименование показателя\",\n    row: \"Строка\",\n    finTitle: \"Финансовые показатели\",\n    shortAbout: \"Краткая информация о компании:\",\n    objs: \"Объекты, зарегистрированные на компанию:\",\n    cars: \"Транспортные средства, зарегистрированные на компанию:\",\n  },\n};\n\n// ---------- source shortcuts ----------\nconst company = body.company_info?.data ?? {};\nconst bankInfo = body.bankInfo ?? {};\nconst appData = body.applicationInfo?.applicationData ?? {};\nconst taxObjects = body.taxObjects ?? {};\nconst forma1 = body.forma_1?.data?.[0]?.rows ?? [];\nconst forma2 = body.forma_2?.data?.[0]?.rows ?? [];\n\n// ---------- computed ----------\nconst companyName = val(company.name);\nconst tin = val(company.tin);\nconst oked = val(company.okedDetail?.name);\nconst category = val(company.businessTypeDetail?.name);\nconst employeeCount = numFormat(body.employeeCount);\nconst legalAddress = joinAddress(\n  company.companyBillingAddress?.region?.name,\n  company.companyBillingAddress?.district?.name,\n  company.companyBillingAddress?.streetName\n);\nconst businessFund = numFormat(company.businessFund);\nconst directorName = fullName(company.director);\nconst regDate = val(bankInfo.regDate);\n\nconst foundation_year =\n  regDate !== \"---\" && /^\\d{4}/.test(regDate) ? regDate.slice(0, 4) : \"---\";\n\nconst buildings = String(safeArr(taxObjects.dataObject).length || \"---\");\n\nconst calcLandArea = () => {\n  const sum = safeArr(taxObjects.dataObject)\n    .map((o) => {\n      const v = o?.land_area;\n      const n = Number(String(v ?? \"\").replace(/\\s+/g, \"\").replace(/,/g, \".\"));\n      return Number.isFinite(n) ? n : 0;\n    })\n    .reduce((a, b) => a + b, 0);\n  return sum > 0 ? numFormat(sum) : \"---\";\n};\nconst land_area = calcLandArea();\n\nconst firstTaxObj = safeArr(taxObjects.dataObject)[0] ?? {};\nconst mainObjAddr = val(firstTaxObj.address);\nconst mainObjTotal = numFormat(firstTaxObj.total_area);\nconst mainObjLand = numFormat(firstTaxObj.land_area);\nconst mainObjCad = val(firstTaxObj.obj_code);\nconst mainObjExtra = numFormat(firstTaxObj.land_extra_area);\n\n// ---------- founders ----------\nconst buildFoundersRows = (L) =>\n  safeArr(company.founders)\n    .map((f) => {\n      const isIndividual = !!f?.founderIndividual;\n      const isLegal = !!f?.founderLegal;\n\n      const name = isIndividual\n        ? [f.founderIndividual?.lastName, f.founderIndividual?.firstName, f.founderIndividual?.middleName]\n            .filter(Boolean)\n            .map(val)\n            .filter((v) => v !== \"---\")\n            .join(\" \") || \"---\"\n        : val(f?.founderLegal?.name);\n\n      const type = isIndividual ? L.ind : isLegal ? L.leg : \"---\";\n      const share = val(f?.sharePercent);\n\n      return `<tr><td>${esc(name)}</td><td>${esc(type)}</td><td>${esc(share)}</td><td>---</td></tr>`;\n    })\n    .join(\"\");\n\n// ---------- collateral ----------\nconst collateral = safeArr(body.applicationInfo?.collateralData);\n\nconst buildCollateralRealEstate = () =>\n  collateral\n    .filter((i) => i?.yurTaxObjectData !== null || i?.collateralType === \"REAL_ESTATE\")\n    .map((i) => {\n      const y = i?.yurTaxObjectData ?? {};\n      return `<tr>\n<td>${esc(val(y.tin))}</td>\n<td>${esc(val(y.name))}</td>\n<td>${esc(val(y.type))}</td>\n<td>${esc(val(y.obj_code ?? i?.cadastreOrCarKuzov))}</td>\n<td>${esc(val(y.obj_name))}</td>\n<td>${esc(val(y.address ?? i?.address))}</td>\n<td>${esc(val(y.percentage))}</td>\n<td>${esc(numFormat(y.inv_cost))}</td>\n<td>${esc(numFormat(y.total_area))}</td>\n<td>${esc(numFormat(y.land_area))}</td>\n<td>${esc(numFormat(y.land_extra_area))}</td>\n<td>${esc(numFormat(i?.estimatedValue))}</td>\n</tr>`;\n    })\n    .join(\"\");\n\nconst buildCollateralCars = () =>\n  collateral\n    .filter((i) => i?.yurCarData !== null || i?.collateralType === \"VEHICLE\")\n    .map((i) => {\n      const c = i?.yurCarData ?? {};\n      return `<tr>\n<td>${esc(val(c.model))}</td>\n<td>${esc(val(c.color))}</td>\n<td>${esc(val(i?.carYear ?? c.year))}</td>\n<td>${esc(val(i?.cadastreOrCarKuzov ?? c.kuzov))}</td>\n<td>${esc(val(c.motor))}</td>\n<td>${esc(val(c.shassi))}</td>\n<td>${esc(val(i?.carLicensePlate ?? c.gosNumber))}</td>\n<td>${esc(val(c.regDate))}</td>\n<td>${esc(val(c.division))}</td>\n<td>${esc(val(c.owner))}</td>\n<td>${esc(val(c.adres ?? i?.address))}</td>\n<td>${esc(numFormat(i?.estimatedValue))}</td>\n</tr>`;\n    })\n    .join(\"\");\n\n// ---------- company assets ----------\nconst taxObjRows = safeArr(taxObjects.dataObject)\n  .map(\n    (item) => `<tr>\n<td>${esc(val(item?.tin))}</td>\n<td>${esc(val(item?.name))}</td>\n<td>${esc(val(item?.type))}</td>\n<td>${esc(val(item?.obj_code))}</td>\n<td>${esc(val(item?.obj_name))}</td>\n<td>${esc(val(item?.address))}</td>\n<td>${esc(val(item?.percentage))}</td>\n<td>${esc(numFormat(item?.inv_cost))}</td>\n<td>${esc(numFormat(item?.total_area))}</td>\n<td>${esc(numFormat(item?.land_area))}</td>\n<td>${esc(numFormat(item?.land_extra_area))}</td>\n</tr>`\n  )\n  .join(\"\");\n\nconst carObjRows = safeArr(taxObjects.carDataObject)\n  .map(\n    (car) => `<tr>\n<td>${esc(val(car?.model))}</td>\n<td>${esc(val(car?.color))}</td>\n<td>${esc(val(car?.year))}</td>\n<td>${esc(val(car?.kuzov))}</td>\n<td>${esc(val(car?.motor))}</td>\n<td>${esc(val(car?.shassi))}</td>\n<td>${esc(val(car?.gosNumber))}</td>\n<td>${esc(val(car?.regDate))}</td>\n<td>${esc(val(car?.division))}</td>\n<td>${esc(val(car?.owner))}</td>\n<td>${esc(val(car?.adres))}</td>\n</tr>`\n  )\n  .join(\"\");\n\n// ---------- S7 labels ----------\nconst getS7 = (language) => {\n  if (language === \"ru\") {\n    return {\n      a: \"Остаточная стоимость основных средств (010-011)\",\n      b: \"Итого запасы (150+160+170+180), в том числе:\",\n      c: \"Итого дебиторская задолженность (220+240+250+260+270+280+290+300+310)\",\n      d: \"Общая сумма активов баланса (130 + 390)\",\n      e: \"В том числе: текущая кредиторская задолженность (610+630+650+670+680+690+700+710+720+760)\",\n      f: \"Долгосрочные банковские кредиты (7810)\",\n      g: \"Краткосрочные банковские кредиты (6810)\",\n      h: \"Итого обязательства (480+770)\",\n      i: \"Чистая выручка от реализации товаров (работ, услуг)\",\n      j: \"Чистая прибыль (убыток) за отчётный период (240-250-260)\",\n    };\n  }\n  if (language === \"en\") {\n    return {\n      a: \"Residual value of fixed assets (010-011)\",\n      b: \"Total inventory (150+160+170+180), including:\",\n      c: \"Total receivables (220+240+250+260+270+280+290+300+310)\",\n      d: \"Total balance sheet assets (130 + 390)\",\n      e: \"Including: current accounts payable (610+630+650+670+680+690+700+710+720+760)\",\n      f: \"Long-term bank loans (7810)\",\n      g: \"Short-term bank loans (6810)\",\n      h: \"Total liabilities (480+770)\",\n      i: \"Net revenue from sales of goods (works, services)\",\n      j: \"Net profit (loss) for the reporting period (240-250-260)\",\n    };\n  }\n  return {\n    a: language === \"cyrl\"\n      ? \"Асосий воситаларнинг қолдиқ қиймати (010-011)\"\n      : \"Asosiy vositalarning qoldiq qiymati (010-011)\",\n    b: language === \"cyrl\"\n      ? \"Жами инвентаризация (150+160+170+180-қаторлар), шу жумладан:\"\n      : \"Jami inventarizatsiya (150+160+170+180-qatorlar), shu jumladan:\",\n    c: language === \"cyrl\"\n      ? \"Жами дебиторлар (220+240+250+260+270+280+290+300+310 қаторлар)\"\n      : \"Jami debitorlar (220+240+250+260+270+280+290+300+310 qatorlar)\",\n    d: language === \"cyrl\"\n      ? \"Баланс активларининг умумий суммаси (130-қатор + 390-қатор)\"\n      : \"Balans aktivlarining umumiy summasi (130-qator + 390-qator)\",\n    e: language === \"cyrl\"\n      ? \"Шу жумладан: жорий кредиторлик қарзлари (610+630+650+670+680+690+700+710+720+760-қаторлар)\"\n      : \"Shu jumladan: joriy kreditorlik qarzlari (610+630+650+670+680+690+700+710+720+760-qatorlar)\",\n    f: language === \"cyrl\" ? \"Узоқ муддатли банк кредитлари (7810)\" : \"Uzoq muddatli bank kreditlari (7810)\",\n    g: language === \"cyrl\" ? \"Қисқа муддатли банк кредитлари (6810)\" : \"Qisqa muddatli bank kreditlari (6810)\",\n    h: language === \"cyrl\" ? \"Жами мажбуриятлар (480+770-қаторлар)\" : \"Jami majburiyatlar (480+770-qatorlar)\",\n    i: language === \"cyrl\"\n      ? \"Маҳсулотлар (товарлар, ишлар ва хизматлар) сотишдан олинган соф даромад\"\n      : \"Mahsulotlar (tovarlar, ishlar va xizmatlar) sotishdan olingan sof daromad\",\n    j: language === \"cyrl\"\n      ? \"Ҳисобот даври учун соф фойда (зарар) (240-250-260-қаторлар)\"\n      : \"Hisobot davri uchun sof foyda (zarar) (240-250-260-qatorlar)\",\n  };\n};\n\n// ---------- purpose by language ----------\nconst purposeByLang = (lang) => {\n  const a = body.applicationInfo?.applicationData ?? {};\n  if (lang === \"cyrl\") return val(a.purposeCyrl);\n  if (lang === \"ru\") return val(a.purposeRu);\n  if (lang === \"en\") return val(a.purposeEn);\n  return val(a.purposeUz);\n};\n\n// ---------- AI blocks (4 languages) ----------\n// 1) если предыдущая нода вернула объект { uz: \"<div>..</div>\", ru: \"...\", ... }\n// 2) или если оно лежит в output[0].content[0].text как объект\nconst aiObj = $json ?? {};\nconst aiTextMaybe = $json?.output?.[0]?.content?.[0]?.text;\nconst ai4fixed = (aiTextMaybe && typeof aiTextMaybe === \"object\")\n  ? aiTextMaybe\n  : (aiObj && typeof aiObj === \"object\" ? aiObj : {});\n\n// ---------- HTML builder ----------\nconst buildHtmlForLang = (lang) => {\n  const L = DICT[lang] ?? DICT.uz;\n  const S7 = getS7(lang);\n\n  const purpose = purposeByLang(lang);\n\n  const requestedAmount = numFormat(appData.requestedAmount);\n  const currency = (() => {\n  const c = val(appData.currency);\n  return c === \"---\" ? \"UZS\" : c;\n})();\n\n  const loanTermMonths = val(appData.loanTermMonths);\n  const downPaymentPercent = val(appData.downPaymentPercent);\n\n  const foundersRows = buildFoundersRows(L);\n  const collateralRealEstate = buildCollateralRealEstate();\n  const collateralCars = buildCollateralCars();\n\n  const baseHtml = `<div style=\"font-family:'Times New Roman'; font-size:11pt;\">\n\n<h2>${L.hProject}: ${esc(companyName)}</h2>\n<h3>${L.hCompany}</h3>\n<table border=\"1\" cellspacing=\"0\" cellpadding=\"4\" width=\"100%\" style=\"font-family:'Times New Roman'; font-size:11pt;\">\n<tr><td>${L.orgFull}</td><td>${esc(companyName)}</td></tr>\n<tr><td>${L.inn}</td><td>${esc(tin)}</td></tr>\n<tr><td>${L.oked}</td><td>${esc(oked)}</td></tr>\n<tr><td>${L.cat}</td><td>${esc(category)}</td></tr>\n<tr><td>${L.emp}</td><td>${esc(employeeCount)}</td></tr>\n<tr><td>${L.addr}</td><td>${esc(legalAddress)}</td></tr>\n<tr><td>${L.fund}</td><td>${esc(businessFund)}</td></tr>\n</table>\n\n<h2>${L.foundersTitle}</h2>\n<table border=\"1\" cellspacing=\"0\" cellpadding=\"4\" width=\"100%\" style=\"font-family:'Times New Roman'; font-size:11pt;\">\n<tr><th>${L.fio}</th><th>${L.who}</th><th>${L.share}</th><th>${L.other}</th></tr>\n${foundersRows || `<tr><td>---</td><td>---</td><td>---</td><td>---</td></tr>`}\n<tr><td><b>${L.director}</b></td><td colspan=\"3\">${esc(directorName)}</td></tr>\n</table>\n\n<p><em><u>${L.bankReq}</u></em></p>\n<p><strong>${L.mainAcc}</strong></p>\n<table border=\"1\" cellspacing=\"0\" cellpadding=\"4\" width=\"100%\" style=\"font-family:'Times New Roman'; font-size:11pt;\">\n<tr><td><b>${L.bankName}</b></td><td>${esc(val(bankInfo.ns2Name))}</td></tr>\n<tr><td><b>${L.acc}</b></td><td>${esc(bankAccFormat(bankInfo.account))}</td></tr>\n<tr><td><b>${L.mfo}</b></td><td>${esc(val(bankInfo.ns2Code))}</td></tr>\n</table>\n\n<p><strong><u>${L.appShort}</u></strong></br>\n<strong><u>${L.appDesc}</u></strong></br>\n<strong><u>${esc(companyName)} ${esc(regDate)} ${L.started}</u></strong></br></br>\n${L.mainAct} ${esc(oked)}.</br>\n<strong><u>${esc(companyName)}</u></strong> ${L.applied2} ${esc(purpose)}</br>\n${lang === \"ru\"\n  ? `${L.applied3}: ${esc(requestedAmount)} ${esc(currency)}; ${L.term}: ${esc(loanTermMonths)}.`\n  : lang === \"en\"\n  ? `${L.applied3}: ${esc(requestedAmount)} ${esc(currency)}; ${L.term}: ${esc(loanTermMonths)} months.`\n  : `${L.applied3} ${esc(requestedAmount)} ${esc(currency)}, ${esc(loanTermMonths)} ${L.term}`\n}</br>\n${L.rates} ${esc(numFormat(downPaymentPercent))}%.</br></br>\n<strong><u>${L.sourcePay}</u></strong></p>\n\n<p><strong>${L.bankFill}</strong></br></br>\n<strong>${L.mainObj}</strong> ${esc(mainObjAddr)}, ${L.totalArea} ${esc(mainObjTotal)} ${lang === \"en\" ? \"sq.m.\" : \"кв.м.\"}, ${L.buildArea} ${esc(mainObjLand)} ${lang === \"en\" ? \"sq.m.\" : \"кв.м.\"}, ${L.cad} ${esc(mainObjCad)}.</br>\n${L.belongs} ${esc(companyName)}${L.belongs2}</br>\n${L.infra}</br>\n${L.built} ${esc(mainObjExtra)} ${lang === \"en\" ? \"sq.m.\" : \"кв.м.\"} ${lang === \"uz\" || lang === \"cyrl\" ? L.built2 : \"\"}</p>\n\n<h3>${L.collateralTitle}</h3>\n<p><em><u>${L.reTitle}</u></em></p>\n<table border=\"1\" cellspacing=\"0\" cellpadding=\"4\" width=\"100%\" style=\"font-family:'Times New Roman'; font-size:11pt;\">\n<tr>\n<th>TIN</th><th>${lang === \"en\" ? \"Company name\" : (lang === \"ru\" ? \"Наименование\" : \"Компания номи\")}</th><th>${lang === \"en\" ? \"Type\" : (lang === \"ru\" ? \"Тип\" : \"Тури\")}</th>\n<th>${lang === \"en\" ? \"Cadastral number\" : (lang === \"ru\" ? \"Кадастровый номер\" : \"Кадастр рақами\")}</th>\n<th>${lang === \"en\" ? \"Property name\" : (lang === \"ru\" ? \"Наименование объекта\" : \"Бино номи\")}</th>\n<th>${lang === \"en\" ? \"Address\" : (lang === \"ru\" ? \"Адрес\" : \"Манзили\")}</th>\n<th>${lang === \"en\" ? \"Ownership share (%)\" : (lang === \"ru\" ? \"Доля владения (%)\" : \"Эгалик қилувчи улуши (%)\")}</th>\n<th>${lang === \"en\" ? \"Inventory value\" : (lang === \"ru\" ? \"Инвентарная стоимость\" : \"Инвентар нарх\")}</th>\n<th>${lang === \"en\" ? \"Total area\" : (lang === \"ru\" ? \"Общая площадь\" : \"Умумий майдон\")}</th>\n<th>${lang === \"en\" ? \"Building area\" : (lang === \"ru\" ? \"Площадь здания\" : \"Бино майдони\")}</th>\n<th>${lang === \"en\" ? \"Additional area\" : (lang === \"ru\" ? \"Доп. площадь\" : \"Қўшимча майдон\")}</th>\n<th>${lang === \"en\" ? \"Estimated collateral value\" : (lang === \"ru\" ? \"Оценочная стоимость залога\" : \"Гаровнинг тахминий қиймати\")}</th>\n</tr>\n${collateralRealEstate || `<tr><td colspan=\"12\">---</td></tr>`}\n</table>\n\n</br>\n<p><em><u>${L.carTitle}</u></em></p>\n<table border=\"1\" cellspacing=\"0\" cellpadding=\"4\" width=\"100%\" style=\"font-family:'Times New Roman'; font-size:11pt;\">\n<tr>\n<th>${lang === \"en\" ? \"Model\" : (lang === \"ru\" ? \"Модель\" : \"Модели\")}</th>\n<th>${lang === \"en\" ? \"Color\" : (lang === \"ru\" ? \"Цвет\" : \"Ранги\")}</th>\n<th>${lang === \"en\" ? \"Year\" : (lang === \"ru\" ? \"Год\" : \"Йил\")}</th>\n<th>${lang === \"en\" ? \"Body number\" : (lang === \"ru\" ? \"Номер кузова\" : \"Кузов рақами\")}</th>\n<th>${lang === \"en\" ? \"Engine\" : (lang === \"ru\" ? \"Двигатель\" : \"Мотор\")}</th>\n<th>${lang === \"en\" ? \"Chassis\" : (lang === \"ru\" ? \"Шасси\" : \"Шасси\")}</th>\n<th>${lang === \"en\" ? \"License plate\" : (lang === \"ru\" ? \"Гос. номер\" : \"Давлат рақами\")}</th>\n<th>${lang === \"en\" ? \"Registration date\" : (lang === \"ru\" ? \"Дата регистрации\" : \"Рўйхатдан ўтган сана\")}</th>\n<th>${lang === \"en\" ? \"Division\" : (lang === \"ru\" ? \"Подразделение\" : \"Дивизия\")}</th>\n<th>${lang === \"en\" ? \"Owner\" : (lang === \"ru\" ? \"Владелец\" : \"Эгалик қилувчи\")}</th>\n<th>${lang === \"en\" ? \"Address\" : (lang === \"ru\" ? \"Адрес\" : \"Манзили\")}</th>\n<th>${lang === \"en\" ? \"Estimated collateral value\" : (lang === \"ru\" ? \"Оценочная стоимость залога\" : \"Гаровнинг тахминий қиймати\")}</th>\n</tr>\n${collateralCars || `<tr><td colspan=\"12\">---</td></tr>`}\n</table>\n\n<p><i><u>${L.balanceTitle}</u></i></p>\n<table border=\"1\" cellspacing=\"0\" cellpadding=\"5\">\n<tr><th>${L.metric}</th><th>${L.row}</th><th colspan=\"2\">${esc(companyName)}</th></tr>\n<tr><th></th><th></th><th></th><th></th></tr>\n<tr><td>${S7.a}</td><td>010</td><td>${esc(findRow(forma1,\"010\",\"sum_begin_period\"))}</td><td>${esc(findRow(forma1,\"010\",\"sum_end_period\"))}</td></tr>\n<tr><td>${S7.b}</td><td>140</td><td>${esc(findRow(forma1,\"140\",\"sum_begin_period\"))}</td><td>${esc(findRow(forma1,\"140\",\"sum_end_period\"))}</td></tr>\n<tr><td>${S7.c}</td><td>210</td><td>${esc(findRow(forma1,\"210\",\"sum_begin_period\"))}</td><td>${esc(findRow(forma1,\"210\",\"sum_end_period\"))}</td></tr>\n<tr><td>${S7.d}</td><td>400</td><td>${esc(findRow(forma1,\"400\",\"sum_begin_period\"))}</td><td>${esc(findRow(forma1,\"400\",\"sum_end_period\"))}</td></tr>\n<tr><td>${S7.e}</td><td>601</td><td>${esc(findRow(forma1,\"601\",\"sum_begin_period\"))}</td><td>${esc(findRow(forma1,\"601\",\"sum_end_period\"))}</td></tr>\n<tr><td>${S7.f}</td><td>570</td><td>${esc(findRow(forma1,\"570\",\"sum_begin_period\"))}</td><td>${esc(findRow(forma1,\"570\",\"sum_end_period\"))}</td></tr>\n<tr><td>${S7.g}</td><td>730</td><td>${esc(findRow(forma1,\"730\",\"sum_begin_period\"))}</td><td>${esc(findRow(forma1,\"730\",\"sum_end_period\"))}</td></tr>\n<tr><td>${S7.h}</td><td>780</td><td>${esc(findRow(forma1,\"780\",\"sum_begin_period\"))}</td><td>${esc(findRow(forma1,\"780\",\"sum_end_period\"))}</td></tr>\n<tr><td>${L.finTitle}</td><td></td><td></td><td></td></tr>\n<tr><td>${S7.i}</td><td>010</td><td>${esc(findRow(forma2,\"010\",\"sum_period_doxod\"))}</td><td>${esc(findRow(forma2,\"010\",\"sum_period_rasxod\"))}</td></tr>\n<tr><td>${S7.j}</td><td>270</td><td>${esc(findRow(forma2,\"270\",\"sum_period_doxod\"))}</td><td>${esc(findRow(forma2,\"270\",\"sum_period_rasxod\"))}</td></tr>\n</table>\n\n<p><strong>${L.shortAbout}</strong></br>\n${lang === \"ru\"\n  ? `Предприятие ${esc(companyName)} осуществляет деятельность с ${esc(foundation_year)} года и в основном работает в сфере ${esc(oked)}.</br>\nЮридический адрес: ${esc(legalAddress)}.</br>\nНа балансе предприятия: ${esc(buildings)} объект(ов) недвижимости и ${esc(land_area)} кв.м земельных участков; территория обеспечена инфраструктурой и коммуникациями.</br>\nСредняя численность сотрудников: ${esc(employeeCount)}.</br>\nФинансовые показатели, деловая репутация и ликвидность активов формируют высокий уровень доверия к предприятию.`\n  : lang === \"en\"\n  ? `${esc(companyName)} has been operating since ${esc(foundation_year)} and primarily provides services in the field of ${esc(oked)}.</br>\nLegal address: ${esc(legalAddress)}.</br>\nThe company’s balance includes ${esc(buildings)} building(s) and ${esc(land_area)} sq.m. of land; the territory is supplied with the necessary infrastructure and communications.</br>\nAverage number of employees: ${esc(employeeCount)}.</br>\nFinancial performance, market reputation, and asset liquidity provide a strong basis for confidence in the company.`\n  : lang === \"cyrl\"\n  ? `${esc(companyName)} корхонаси ${esc(foundation_year)} йилдан бери фаолият юритиб, асосан ${esc(oked)} соҳасида хизмат кўрсатиб келади.</br>\nКорхона юридик манзили: ${esc(legalAddress)}.</br>\nКорхона балансында ${esc(buildings)} дона бино ва ${esc(land_area)} кв.м ер майдони мавжуд бўлиб, ҳудуд зарур инфратузилма ва коммуникациялар билан таъминланган.</br>\nТашкилотда ${esc(employeeCount)} нафар ходим ишлайди ва ишлаб чиқариш қуввати йил сайин ошмоқда.</br>\nМолиявий кўрсаткичлар ва бозордаги обрў-эътибори, шунингдек, активларнинг ликвидлиги корхонага юқори ишонч беради.`\n  : `${esc(companyName)} korxonasi ${esc(foundation_year)} yildan beri faoliyat yuritib, asosan ${esc(oked)} sohasida xizmat ko‘rsatib keladi.</br>\nKorxona yuridik manzili: ${esc(legalAddress)}.</br>\nKorxona balansida ${esc(buildings)} dona bino va ${esc(land_area)} kv.m yer maydoni mavjud bo‘lib, hudud zarur infratuzilma va kommunikatsiyalar bilan ta’minlangan.</br>\nTashkilotda ${esc(employeeCount)} nafar xodim ishlaydi va ishlab chiqarish quvvati yil sayin oshmoqda.</br>\nMoliyaviy ko‘rsatkichlar va bozordagi obro‘-e’tibori, shuningdek, aktivlarning likvidligi korxonaga yuqori ishonch beradi.`\n}\n</p>\n\n<p><em><u>${L.objs}</u></em></p>\n<table border=\"1\" cellspacing=\"0\" cellpadding=\"4\" width=\"100%\" style=\"font-family:'Times New Roman'; font-size:11pt;\">\n<tr>\n<th>TIN</th>\n<th>${lang === \"en\" ? \"Company name\" : (lang === \"ru\" ? \"Наименование\" : (lang === \"cyrl\" ? \"Компания номи\" : \"Kompaniya nomi\"))}</th>\n<th>${lang === \"en\" ? \"Type\" : (lang === \"ru\" ? \"Тип\" : (lang === \"cyrl\" ? \"Тури\" : \"Turi\"))}</th>\n<th>${lang === \"en\" ? \"Cadastral number\" : (lang === \"ru\" ? \"Кадастровый номер\" : (lang === \"cyrl\" ? \"Кадастр рақами\" : \"Kadastr raqami\"))}</th>\n<th>${lang === \"en\" ? \"Property name\" : (lang === \"ru\" ? \"Наименование объекта\" : (lang === \"cyrl\" ? \"Бино номи\" : \"Bino nomi\"))}</th>\n<th>${lang === \"en\" ? \"Address\" : (lang === \"ru\" ? \"Адрес\" : (lang === \"cyrl\" ? \"Манзили\" : \"Manzili\"))}</th>\n<th>${lang === \"en\" ? \"Ownership share (%)\" : (lang === \"ru\" ? \"Доля владения (%)\" : (lang === \"cyrl\" ? \"Эгалик қилувчи улуши (%)\" : \"Egalik qiluvchi ulushi (%)\"))}</th>\n<th>${lang === \"en\" ? \"Inventory value\" : (lang === \"ru\" ? \"Инвентарная стоимость\" : (lang === \"cyrl\" ? \"Инвентар нарх\" : \"Inventar narx\"))}</th>\n<th>${lang === \"en\" ? \"Total area\" : (lang === \"ru\" ? \"Общая площадь\" : (lang === \"cyrl\" ? \"Умумий майдон\" : \"Umumiy maydon\"))}</th>\n<th>${lang === \"en\" ? \"Building area\" : (lang === \"ru\" ? \"Площадь здания\" : (lang === \"cyrl\" ? \"Бино майдони\" : \"Bino maydoni\"))}</th>\n<th>${lang === \"en\" ? \"Additional area\" : (lang === \"ru\" ? \"Доп. площадь\" : (lang === \"cyrl\" ? \"Қўшимча майдон\" : \"Qo'shimcha maydon\"))}</th>\n</tr>\n${taxObjRows || `<tr><td colspan=\"11\">---</td></tr>`}\n</table>\n\n</br>\n<p><em><u>${L.cars}</u></em></p>\n<table border=\"1\" cellspacing=\"0\" cellpadding=\"4\" width=\"100%\" style=\"font-family:'Times New Roman'; font-size:11pt;\">\n<tr>\n<th>${lang === \"en\" ? \"Model\" : (lang === \"ru\" ? \"Модель\" : (lang === \"cyrl\" ? \"Модели\" : \"Modeli\"))}</th>\n<th>${lang === \"en\" ? \"Color\" : (lang === \"ru\" ? \"Цвет\" : (lang === \"cyrl\" ? \"Ранги\" : \"Rangi\"))}</th>\n<th>${lang === \"en\" ? \"Year\" : (lang === \"ru\" ? \"Год\" : (lang === \"cyrl\" ? \"Йил\" : \"Yil\"))}</th>\n<th>${lang === \"en\" ? \"Body number\" : (lang === \"ru\" ? \"Номер кузова\" : (lang === \"cyrl\" ? \"Кузов рақами\" : \"Kuzov raqami\"))}</th>\n<th>${lang === \"en\" ? \"Engine\" : (lang === \"ru\" ? \"Двигатель\" : (lang === \"cyrl\" ? \"Мотор\" : \"Motor\"))}</th>\n<th>${lang === \"en\" ? \"Chassis\" : (lang === \"ru\" ? \"Шасси\" : (lang === \"cyrl\" ? \"Шасси\" : \"Shassi\"))}</th>\n<th>${lang === \"en\" ? \"License plate\" : (lang === \"ru\" ? \"Гос. номер\" : (lang === \"cyrl\" ? \"Давлат рақами\" : \"Davlat raqami\"))}</th>\n<th>${lang === \"en\" ? \"Registration date\" : (lang === \"ru\" ? \"Дата регистрации\" : (lang === \"cyrl\" ? \"Рўйхатдан ўтган сана\" : \"Ro'yxatdan o'tgan sana\"))}</th>\n<th>${lang === \"en\" ? \"Division\" : (lang === \"ru\" ? \"Подразделение\" : (lang === \"cyrl\" ? \"Дивизия\" : \"Diviziya\"))}</th>\n<th>${lang === \"en\" ? \"Owner\" : (lang === \"ru\" ? \"Владелец\" : (lang === \"cyrl\" ? \"Эгалик қилувчи\" : \"Egalik qiluvchi\"))}</th>\n<th>${lang === \"en\" ? \"Address\" : (lang === \"ru\" ? \"Адрес\" : (lang === \"cyrl\" ? \"Манзили\" : \"Manzili\"))}</th>\n</tr>\n${carObjRows || `<tr><td colspan=\"11\">---</td></tr>`}\n</table>\n</div>`.replace(/\\n/g, \"\");\n\n  // aiText уже HTML строка\n  const aiText = val(ai4fixed?.[lang] ?? ai4fixed?.uz ?? \"---\");\n  const expertBlock = `<br><h2>${esc(L.expertConclusionTitle)}</h2><br>` + aiText;\n\n  return (baseHtml + expertBlock).replace(/\\n/g, \"\");\n};\n\n// ---------- build all languages ----------\nconst htmlByLang = {\n  uz: buildHtmlForLang(\"uz\"),\n  cyrl: buildHtmlForLang(\"cyrl\"),\n  ru: buildHtmlForLang(\"ru\"),\n  en: buildHtmlForLang(\"en\"),\n};\n\n// ✅ Run for Each Item: возвращаем ОДИН объект (без массива)\nreturn {\n  json: {\n    html: htmlByLang,\n  },\n};\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                896,
                -176
            ],
            "id": "621978a6-adb6-44b8-b48c-944c7db936f0",
            "name": "Code in JavaScript1",
            "executeOnce": true
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "gpt-5.1",
                    "mode": "list",
                    "cachedResultName": "GPT-5.1"
                },
                "responses": {
                    "values": [
                        {
                            "content": "={{ JSON.stringify($('Webhook').item.json.body) }}"
                        },
                        {
                            "role": "system",
                            "content": "=Siz professional AI yordamchisiz. \n\nSizning vazifangiz: Yakuniy kredit bo‘yicha ekspert xulosasi yaratish,\n\nXulosa har doim 4 ta tilda bir vaqtning o‘zida yaratiladi:\n\n1) O‘zbek lotin (UZ)\n2) O‘zbek kirill (CYRL)\n3) Rus tili (RU)\n4) Ingliz tili (EN)\n\nHar bir til alohida va mustaqil <div> da bo‘lishi shart.\nBir til ichida boshqa til aralashmasin.\n\n\n<h3>Yakuniy kredit bo‘yicha ekspert xulosasi</h3>\n\nXulosa quyidagilar asosida avtomatik shakllantiriladi:\n\n✓ Kompaniya faoliyat holati  \n✓ Har doim forma bo‘yicha \n✓ Pul oqimi  \n✓ Zalog likvidligi  \n✓ Risklar  Kredit berish tavsiya qilinadi\n✓ Kuchli tomonlar  \nyuqoridagi natijalar hammasi qisqa londa bo'lsin. Hammasi bitta paragraphda yozilsin.\n\nKredit berish xulosasini tuzish bo'yicha logika:\n- Moliyaviy yuk (Aylanma darajasi). Agar so'ralgan kredit summasi kompaniyaning yillik aylanmasidan oshiq bo'lsa, bunday holatni past kredit havfi va kredit bo'yicha qarzni to'lamaslik ehtimoli sifatida baholashingiz kerak.\n- Garov (LTV - Kreditning qiymatga nisbati):\nAgar taqdim etilgan garov kredit miqdoridan sezilarli darajada ortiq bo'lsa, LTV (Kreditning qiymatga nisbati) 64% gacha bo'lgan nisbat ({{ $('Webhook').item.json.body.applicationInfo.collateralData[0].estimatedValue * 0.64 > $('Webhook').item.json.body.applicationInfo.applicationData.requestedAmount }}) ijobiy hisoblanadi.\n\nXULOSA QUYIDAGILARDAN BIRI BO‘LISHI SHART, VA ULAR HAM BELGILANGAN TILGA TARJIMA QILINISHI SHART:\n\n1) Agar kredit berish tavsiya etilsa: <strong> Kredit berish tavsiya qilinadi </strong> <- albatta {{ $('Webhook').item.json.body.language }}ga tarjima qilinish kerak\n2) Agar kredit berish tavsiya etilmasa: <strong> Kommitet tomonidan ko'rib chiqiladi </strong> <- albatta {{ $('Webhook').item.json.body.language }}ga tarjima qilinish kerak\n\nYuqoridagi ikkita holat, hulosa ham albatta belgilangan tilgan tajrima qilish kerak, va o'sha tilda chiqarish kerak, boshqa tildagi qo'shimchalar bo'lmasin! Hech qachon belgilangan tildan boshqasiga tarjima qilmang!\n\nVa albatta izohlar bilan:\n– Nima sababdan berilishi kerak / berilmasligi kerak aynan jadvaldagi qaysi ma'lumot asosida olayapti.\n– Qaysi ko‘rsatkichga asoslanildi aynan jadvaldagi qaysi ma'lumot asosida olayapti.\n– Qaysi risklar mavjud aynan jadvaldagi qaysi ma'lumot asosida olayapti.\n– Qaysi kuchli jihatlar kreditni qo‘llab-quvvatlaydi aynan jadvaldagi qaysi ma'lumot asosida olayapti.\n- Hulosa rasmiy tilda yozilsin. jadval malumotlari korsatishda qavslar ichida emas, tabiiy shaklda yozilsin. Hulosa xar doim 9-bo'lim oxirida bulishi shart.\n====================================================================================\n\nQat'iy qoidalar:\n• Har doim belgilangan tilgan tarjima qilishinshi shart. \n• Ovoz ohangi — professional bank ekspertizasi\n• Javob juda ham sifatli va juda ham tez bo'lishi lozim. Foydalanuvchi kutib qolmasligi uchun!\n• Textlar toza natija bo'lishi kerkak.\n• Chiquvchi text malumotlar ham tartibli kerakli joylar alohida korsatilgan holatda bolishi kerak.\n• \"language\" fieldida so'ralgan tilda javob generatsiya qilish lozim!\n• Kredit  tavsiya berish yoki bermaslik tavsiyasi <strong> tag ichida bulishi shard\n• Agar {{ $('Webhook').item.json.body.conclusion }} = \"POSITIVE\" bo‘lsa, xulosada faqat ijobiy/kuchli jihatlar va kreditni qo‘llab-quvvatlovchi dalillar yoritilsin; salbiy tomonlar, kamchiliklar va risklar tilga olinmasin.\n• Agar {{ $('Webhook').item.json.body.conclusion }} = \"NEGATIVE\" bo‘lsa, xulosada ko'proq salbiy tomonlar/risklar va kreditni rad etishga olib keladigan dalillar yoritilsin; ijobiy tomonlar va kuchli jihatlar kamaytirilsin olinmasin.\n• Agar {{ $('Webhook').item.json.body.conclusion }} = NEUTRAL bo‘lsa, mavjud umumiy logika saqlanib qolsin, standart qoidalar asosida shakllantirilsin."
                        }
                    ]
                },
                "builtInTools": {},
                "options": {
                    "textFormat": {
                        "textOptions": {
                            "type": "json_schema",
                            "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"uz\": {\n      \"type\": \"string\"\n    },\n    \"cyrl\": {\n      \"type\": \"string\"\n    },\n    \"ru\": {\n      \"type\": \"string\"\n    },\n    \"en\": {\n      \"type\": \"string\"\n    }\n  },\n  \"additionalProperties\": false,\n  \"required\": [\"uz\", \"cyrl\", \"ru\", \"en\"]\n}\n"
                        }
                    }
                }
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 2.1,
            "position": [
                560,
                -176
            ],
            "id": "8d30183a-6131-4d1f-9026-d1d2fcf14a63",
            "name": "Message a model",
            "credentials": {
                "openAiApi": {
                    "id": "tmIO16NvYCWnfG7Y",
                    "name": "OpenAi account 3"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Message a model",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond to Webhook": {
            "main": [
                []
            ]
        },
        "Code in JavaScript1": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Message a model": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "Webhook": [
            {
                "headers": {
                    "host": "n8n.tenzorsoft.uz",
                    "x-real-ip": "185.100.52.66",
                    "x-forwarded-for": "185.100.52.66",
                    "x-forwarded-proto": "https",
                    "connection": "upgrade",
                    "content-length": "11102",
                    "accept": "text/plain, application/json, application/*+json, */*",
                    "content-type": "application/json",
                    "accept-encoding": "gzip",
                    "user-agent": "okhttp/4.12.0"
                },
                "params": {},
                "query": {},
                "body": {
                    "company_info": {
                        "success": true,
                        "reason": "success",
                        "data": {
                            "tin": "306402863",
                            "name": "\"HYPER TRADE\" MAS'ULIYATI CHEKLANGAN JAMIYAT",
                            "shortName": "\"HYPER TRADE\" MCHJ",
                            "businessFund": 1748350000,
                            "vatNumber": 310010040613,
                            "businessType": 3,
                            "taxMode": 1,
                            "companyTypeDetail": {
                                "code": "2",
                                "name": "Xususiy tashkilotlar"
                            },
                            "businessTypeDetail": {
                                "code": "3",
                                "name": "O'rta korxona"
                            },
                            "opfDetail": {
                                "code": "152",
                                "name": "MAS‘ULIYATI CHEKLANGAN YOKI QO‘SHIMCHA MAS‘ULIYATLI JAMIYAT"
                            },
                            "sooguDetail": {
                                "code": "79994",
                                "name": "Davlat va xo'jalik boshqaruvi organlari tarkibiga kirmagan tadbirkorlik sub'ektlari"
                            },
                            "statusDetail": {
                                "code": "0",
                                "name": "Faoliyat ko'rsatayotgan hamda soliq majburiyatlariga ega bo'lgan"
                            },
                            "okedDetail": {
                                "code": "46450",
                                "name": "PАRFYUMERIYA VА PАRDOZ TOVАRLАRI ULGURJI SАVDOSI"
                            },
                            "companyBillingAddress": {
                                "region": {
                                    "code": 1726,
                                    "name": "Toshkent shahri"
                                },
                                "district": {
                                    "code": 1726266,
                                    "name": "Yunusobod tumani"
                                },
                                "streetName": "Бодомзор МФЙ, Боги-Эрам кучаси, 14-уй"
                            },
                            "director": {
                                "lastName": "ABIDOV",
                                "firstName": "NODIR",
                                "middleName": "AKRAMOVICH"
                            },
                            "founders": [
                                {
                                    "founderIndividual": {
                                        "lastName": "ABIDOV",
                                        "firstName": "NODIR",
                                        "middleName": "AKRAMOVICH"
                                    },
                                    "founderLegal": {
                                        "tin": null,
                                        "name": null
                                    },
                                    "sharePercent": 100
                                }
                            ],
                            "sustainabilityRating": {
                                "type": "B",
                                "criteriaAll": 63
                            }
                        }
                    },
                    "forma_1": {
                        "success": true,
                        "reason": null,
                        "data": [
                            {
                                "ns10_code": 26,
                                "ns11_code": 3,
                                "tin": "306402863",
                                "company_name": "\"HYPER TRADE\" MCHJ",
                                "date_send": "2025-03-03 00:00:00.0",
                                "package_id": "20001_2",
                                "rows": [
                                    {
                                        "row_no": "010",
                                        "sum_begin_period": "165612",
                                        "sum_end_period": "165612"
                                    },
                                    {
                                        "row_no": "011",
                                        "sum_begin_period": "50713.7",
                                        "sum_end_period": "50713.7"
                                    },
                                    {
                                        "row_no": "012",
                                        "sum_begin_period": "114898.3",
                                        "sum_end_period": "114898.3"
                                    },
                                    {
                                        "row_no": "022",
                                        "sum_begin_period": "0",
                                        "sum_end_period": "0"
                                    },
                                    {
                                        "row_no": "030",
                                        "sum_begin_period": "0",
                                        "sum_end_period": "0"
                                    },
                                    {
                                        "row_no": "130",
                                        "sum_begin_period": "114898.3",
                                        "sum_end_period": "114898.3"
                                    },
                                    {
                                        "row_no": "140",
                                        "sum_begin_period": "1353076.13",
                                        "sum_end_period": "1353076.13"
                                    },
                                    {
                                        "row_no": "180",
                                        "sum_begin_period": "1353076.13",
                                        "sum_end_period": "1353076.13"
                                    },
                                    {
                                        "row_no": "210",
                                        "sum_begin_period": "8173297.93",
                                        "sum_end_period": "8173297.93"
                                    },
                                    {
                                        "row_no": "220",
                                        "sum_begin_period": "163195",
                                        "sum_end_period": "163195"
                                    },
                                    {
                                        "row_no": "260",
                                        "sum_begin_period": "7931975.9",
                                        "sum_end_period": "7931975.9"
                                    },
                                    {
                                        "row_no": "270",
                                        "sum_begin_period": "78127.03",
                                        "sum_end_period": "78127.03"
                                    },
                                    {
                                        "row_no": "320",
                                        "sum_begin_period": "33152.36",
                                        "sum_end_period": "33152.36"
                                    },
                                    {
                                        "row_no": "330",
                                        "sum_begin_period": "32242.52",
                                        "sum_end_period": "32242.52"
                                    },
                                    {
                                        "row_no": "340",
                                        "sum_begin_period": "196.44",
                                        "sum_end_period": "196.44"
                                    },
                                    {
                                        "row_no": "360",
                                        "sum_begin_period": "713.4",
                                        "sum_end_period": "713.4"
                                    },
                                    {
                                        "row_no": "390",
                                        "sum_begin_period": "9559526.42",
                                        "sum_end_period": "9559526.42"
                                    },
                                    {
                                        "row_no": "400",
                                        "sum_begin_period": "9674424.72",
                                        "sum_end_period": "9674424.72"
                                    },
                                    {
                                        "row_no": "410",
                                        "sum_begin_period": "1748350",
                                        "sum_end_period": "1748350"
                                    },
                                    {
                                        "row_no": "450",
                                        "sum_begin_period": "-3030646.7",
                                        "sum_end_period": "-3030646.7"
                                    },
                                    {
                                        "row_no": "480",
                                        "sum_begin_period": "-1282296.7",
                                        "sum_end_period": "-1282296.7"
                                    },
                                    {
                                        "row_no": "490",
                                        "sum_begin_period": "7239584.75",
                                        "sum_end_period": "7239584.75"
                                    },
                                    {
                                        "row_no": "491",
                                        "sum_begin_period": "4373929.2",
                                        "sum_end_period": "4373929.2"
                                    },
                                    {
                                        "row_no": "560",
                                        "sum_begin_period": "4373929.2",
                                        "sum_end_period": "4373929.2"
                                    },
                                    {
                                        "row_no": "570",
                                        "sum_begin_period": "2865655.55",
                                        "sum_end_period": "2865655.55"
                                    },
                                    {
                                        "row_no": "600",
                                        "sum_begin_period": "3717136.67",
                                        "sum_end_period": "3717136.67"
                                    },
                                    {
                                        "row_no": "601",
                                        "sum_begin_period": "3717136.67",
                                        "sum_end_period": "3717136.67"
                                    },
                                    {
                                        "row_no": "610",
                                        "sum_begin_period": "3489757.5",
                                        "sum_end_period": "3489757.5"
                                    },
                                    {
                                        "row_no": "680",
                                        "sum_begin_period": "611.92",
                                        "sum_end_period": "611.92"
                                    },
                                    {
                                        "row_no": "690",
                                        "sum_begin_period": "620.94",
                                        "sum_end_period": "620.94"
                                    },
                                    {
                                        "row_no": "720",
                                        "sum_begin_period": "187558.14",
                                        "sum_end_period": "187558.14"
                                    },
                                    {
                                        "row_no": "760",
                                        "sum_begin_period": "38588.17",
                                        "sum_end_period": "38588.17"
                                    },
                                    {
                                        "row_no": "770",
                                        "sum_begin_period": "10956721.42",
                                        "sum_end_period": "10956721.42"
                                    },
                                    {
                                        "row_no": "780",
                                        "sum_begin_period": "9674424.72",
                                        "sum_end_period": "9674424.72"
                                    }
                                ]
                            }
                        ]
                    },
                    "forma_2": {
                        "success": true,
                        "data": [
                            {
                                "ns10_code": 26,
                                "ns11_code": 3,
                                "tin": "306402863",
                                "company_name": "\"HYPER TRADE\" MCHJ",
                                "date_send": "2025-03-03 00:00:00.0",
                                "rows": [
                                    {
                                        "row_no": "010",
                                        "sum_old_period_doxod": "10706001.3",
                                        "sum_old_period_rasxod": "0",
                                        "sum_period_doxod": "12102761.23",
                                        "sum_period_rasxod": "0",
                                        "sum_report_paid": "0",
                                        "sum_real_paid": "0"
                                    },
                                    {
                                        "row_no": "020",
                                        "sum_old_period_doxod": "0",
                                        "sum_old_period_rasxod": "10309233.1",
                                        "sum_period_doxod": "0",
                                        "sum_period_rasxod": "11892707.87",
                                        "sum_report_paid": "0",
                                        "sum_real_paid": "0"
                                    },
                                    {
                                        "row_no": "030",
                                        "sum_old_period_doxod": "396768.2",
                                        "sum_old_period_rasxod": "0",
                                        "sum_period_doxod": "210053.36",
                                        "sum_period_rasxod": "0",
                                        "sum_report_paid": "0",
                                        "sum_real_paid": "0"
                                    },
                                    {
                                        "row_no": "040",
                                        "sum_old_period_doxod": "0",
                                        "sum_old_period_rasxod": "653059",
                                        "sum_period_doxod": "0",
                                        "sum_period_rasxod": "222972.7",
                                        "sum_report_paid": "0",
                                        "sum_real_paid": "0"
                                    },
                                    {
                                        "row_no": "050",
                                        "sum_old_period_doxod": "0",
                                        "sum_old_period_rasxod": "498626.7",
                                        "sum_period_doxod": "0",
                                        "sum_period_rasxod": "84573",
                                        "sum_report_paid": "0",
                                        "sum_real_paid": "0"
                                    },
                                    {
                                        "row_no": "060",
                                        "sum_old_period_doxod": "0",
                                        "sum_old_period_rasxod": "75510.7",
                                        "sum_period_doxod": "0",
                                        "sum_period_rasxod": "87909",
                                        "sum_report_paid": "0",
                                        "sum_real_paid": "0"
                                    },
                                    {
                                        "row_no": "070",
                                        "sum_old_period_doxod": "0",
                                        "sum_old_period_rasxod": "78921.6",
                                        "sum_period_doxod": "0",
                                        "sum_period_rasxod": "50490.7",
                                        "sum_report_paid": "0",
                                        "sum_real_paid": "0"
                                    },
                                    {
                                        "row_no": "100",
                                        "sum_old_period_doxod": "0",
                                        "sum_old_period_rasxod": "256290.8",
                                        "sum_period_doxod": "0",
                                        "sum_period_rasxod": "12919.34",
                                        "sum_report_paid": "0",
                                        "sum_real_paid": "0"
                                    },
                                    {
                                        "row_no": "110",
                                        "sum_old_period_doxod": "0",
                                        "sum_old_period_rasxod": "0",
                                        "sum_period_doxod": "0",
                                        "sum_period_rasxod": "0",
                                        "sum_report_paid": "0",
                                        "sum_real_paid": "0"
                                    },
                                    {
                                        "row_no": "170",
                                        "sum_old_period_doxod": "0",
                                        "sum_old_period_rasxod": "859510",
                                        "sum_period_doxod": "0",
                                        "sum_period_rasxod": "263009.5",
                                        "sum_report_paid": "0",
                                        "sum_real_paid": "0"
                                    },
                                    {
                                        "row_no": "180",
                                        "sum_old_period_doxod": "0",
                                        "sum_old_period_rasxod": "859510",
                                        "sum_period_doxod": "0",
                                        "sum_period_rasxod": "263009.5",
                                        "sum_report_paid": "0",
                                        "sum_real_paid": "0"
                                    },
                                    {
                                        "row_no": "220",
                                        "sum_old_period_doxod": "0",
                                        "sum_old_period_rasxod": "1115800.8",
                                        "sum_period_doxod": "0",
                                        "sum_period_rasxod": "275928.84",
                                        "sum_report_paid": "0",
                                        "sum_real_paid": "0"
                                    },
                                    {
                                        "row_no": "240",
                                        "sum_old_period_doxod": "0",
                                        "sum_old_period_rasxod": "1115800.8",
                                        "sum_period_doxod": "0",
                                        "sum_period_rasxod": "275928.84",
                                        "sum_report_paid": "0",
                                        "sum_real_paid": "0"
                                    },
                                    {
                                        "row_no": "270",
                                        "sum_old_period_doxod": "0",
                                        "sum_old_period_rasxod": "1115800.8",
                                        "sum_period_doxod": "0",
                                        "sum_period_rasxod": "275928.84",
                                        "sum_report_paid": "0",
                                        "sum_real_paid": "0"
                                    },
                                    {
                                        "row_no": "480",
                                        "sum_old_period_doxod": "0",
                                        "sum_old_period_rasxod": "0",
                                        "sum_period_doxod": "0",
                                        "sum_period_rasxod": "0",
                                        "sum_report_paid": "0",
                                        "sum_real_paid": "0"
                                    }
                                ]
                            }
                        ]
                    },
                    "taxObjects": {
                        "success": true,
                        "message": "success",
                        "dataObject": [
                            {
                                "ns10_code": 10,
                                "ns11_code": 1,
                                "tin": "306402863",
                                "name": null,
                                "type": null,
                                "obj_code": "18:15:01:02:02:0853",
                                "obj_name": "нотурар",
                                "address": "Qashqadaryo viloyati, Qarshi, Xontepa MFY, Bunyodkor ko'chasi, 1/74-uy",
                                "percentage": 0,
                                "inv_cost": null,
                                "total_area": 432.99,
                                "land_area": 117,
                                "land_extra_area": 0
                            }
                        ],
                        "carDataObject": [
                            {
                                "id": 207,
                                "model": "LABO",
                                "color": "Oq-",
                                "year": 2022,
                                "autotype": 6,
                                "kuzov": null,
                                "motor": "XWB7T51BDNP873566",
                                "shassi": "-",
                                "gosNumber": "70538JBA",
                                "regDate": "28.09.2022",
                                "division": "Qashqadaryo viloyati  RO' va IOB",
                                "owner": "\"HYPER TRADE\" MAS'ULIYATI CHEKLANGAN JAMIYAT",
                                "adres": " QASHQADARYO VILOYATI, QARSHI SHAHRI, ХОНТЕПА МФЙ"
                            },
                            {
                                "id": 208,
                                "model": "LABO",
                                "color": "Oq-",
                                "year": 2022,
                                "autotype": 6,
                                "kuzov": null,
                                "motor": "XWB7T51BDNP875555",
                                "shassi": "-",
                                "gosNumber": "70539JBA",
                                "regDate": "28.09.2022",
                                "division": "Qashqadaryo viloyati  RO' va IOB",
                                "owner": "\"HYPER TRADE\" MAS'ULIYATI CHEKLANGAN JAMIYAT",
                                "adres": " QASHQADARYO VILOYATI, QARSHI SHAHRI, ХОНТЕПА МФЙ"
                            },
                            {
                                "id": 209,
                                "model": "LABO",
                                "color": "OQ",
                                "year": 2021,
                                "autotype": 6,
                                "kuzov": null,
                                "motor": "XWB7T51BDMP844229",
                                "shassi": "РАКАМСИЗ",
                                "gosNumber": "70540JBA",
                                "regDate": "28.09.2022",
                                "division": "Qashqadaryo viloyati  RO' va IOB",
                                "owner": "\"HYPER TRADE\" MAS'ULIYATI CHEKLANGAN JAMIYAT",
                                "adres": " QASHQADARYO VILOYATI, QARSHI SHAHRI, ХОНТЕПА  мфй"
                            }
                        ]
                    },
                    "applicationInfo": {
                        "applicationData": {
                            "requestedAmount": 100000000,
                            "requestedRate": 22,
                            "loanTermMonths": 40,
                            "downPaymentPercent": 11,
                            "expirationTime": null,
                            "purposeUz": "Aylanma mablag‘",
                            "purposeRu": "Оборотный капитал",
                            "purposeEn": "Working Capital",
                            "currency": null
                        },
                        "collateralData": [
                            {
                                "yurCarData": {
                                    "id": 207,
                                    "model": "LABO",
                                    "color": "Oq-",
                                    "year": 2022,
                                    "autotype": 6,
                                    "kuzov": null,
                                    "motor": "XWB7T51BDNP873566",
                                    "shassi": "-",
                                    "gosNumber": "70538JBA",
                                    "regDate": "28.09.2022",
                                    "division": "Qashqadaryo viloyati  RO' va IOB",
                                    "owner": "\"HYPER TRADE\" MAS'ULIYATI CHEKLANGAN JAMIYAT",
                                    "adres": " QASHQADARYO VILOYATI, QARSHI SHAHRI, ХОНТЕПА МФЙ"
                                },
                                "yurTaxObjectData": null,
                                "areaType": null,
                                "aiEstimateId": null,
                                "collateralFetchType": null,
                                "collateralType": "VEHICLE",
                                "estimatedValue": 429772557.5,
                                "cadastreOrCarKuzov": null,
                                "carLicensePlate": null,
                                "carYear": null,
                                "address": null,
                                "latitude": null,
                                "longitude": null,
                                "total_area": null,
                                "land_area": null,
                                "land_extra_area": null,
                                "description": null
                            }
                        ]
                    },
                    "bankInfo": {
                        "tin": "306402863",
                        "ns10Code": 26,
                        "ns10Name": "Тошкент шаҳар",
                        "ns11Code": 3,
                        "ns11Name": "Юнусобод тумани",
                        "name": "\"HYPER TRADE\" MCHJ",
                        "nameFull": "\"HYPER TRADE\" MAS'ULIYATI CHEKLANGAN JAMIYAT",
                        "address": "Бодомзор МФЙ, Боги-Эрам кучаси, 14-уй  ",
                        "phoneNumber": null,
                        "regNum": "2047403",
                        "regDate": "08.05.2019",
                        "fund": 1748350000,
                        "gdFullName": "ABIDOV NODIR AKRAMOVICH",
                        "gdTin": "498501366",
                        "gdPinfl": "30601862720021",
                        "gdTelWork": "998333123123",
                        "gdTelHome": "976309599",
                        "gdMobile": null,
                        "gbFullName": null,
                        "gbTin": null,
                        "gbPinfl": "0",
                        "gbTelWork": null,
                        "gbTelHome": null,
                        "gbMobile": null,
                        "nc1Code": "79994",
                        "nc1Name": "Davlat va xo‘jalik boshqaruvi organlari tarkibiga kirmagan tadbirkorlik sub‘yektlari",
                        "nc2Code": null,
                        "nc2Name": null,
                        "nc3Code": 100,
                        "nc3Name": "ХУСУСИЙ МУЛК",
                        "nc4Code": null,
                        "nc4Name": null,
                        "nc5Code": "1726266",
                        "nc5Name": "Юнусабадский район",
                        "nc6Code": "46450",
                        "nc6Name": "Pаrfyumeriya vа pаrdoz tovаrlаri ulgurji sаvdosi",
                        "ns1Code": 1,
                        "ns1Name": "Саноат",
                        "ns2Code": "00446",
                        "ns2Name": "ТОШКЕНТ Ш., \"ТУРОНБАНК\" АТ БАНКИНИНГ БОШ ОФИСИ",
                        "ns3Code": 165,
                        "ns3Name": "Алоҳида фуқароларнинг корхона ва муассасалари",
                        "ns4Code": 3,
                        "ns4Name": "Коллективлик",
                        "ns13Code": 0,
                        "ns13Name": "Фаолият курсатаетган хамда солик мажбуриятларига эга",
                        "na1Code": 12,
                        "na1Name": "Масъулияти чекланган жамият",
                        "account": "20208000505074039001",
                        "dateTin": "1557302431000",
                        "tinHead": null,
                        "headPinfl": "0",
                        "okpo": "28691261",
                        "mriCode": 26,
                        "taxRegime": 1,
                        "stateCode": 0,
                        "stateName": "Фаолият кўрсатаётган ва солиқ мажбуриятига эга",
                        "criteriaAll": 63,
                        "criteriaType": "B"
                    },
                    "employeeCount": 8,
                    "language": "cyrl",
                    "conclusion": "NEUTRAL"
                },
                "webhookUrl": "https://n8n.tenzorsoft.uz/webhook/462b5a37-2721-40c7-a955-aafec7a1fdc7",
                "executionMode": "production"
            }
        ]
    },
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "ed3579581d53ca6fd35b7cb1ccc27777fde1533fc33b2ae1a45a8ab5ce758e83"
    }
}